//colors

$col__titles: #2C0571;
$col__text: #4811AE;
$col__decor: #492A82;
$col__links: #FFDF00;
$col__link_focus: #A69100;


//fonts

$ff_titles: 'Nunito', sans-serif;
$ff_text:'Montserrat', sans-serif;